h1 {
  color: #096324;
}

h3 {
  color: #096324;
  margin-top: 1.25rem;
  margin-bottom: 2.5rem; 
}

a {
  color: #096324;
}

p {
  font-size: 1.125rem; 
}

.header-email {
  color: #096324;
  margin-right: 1.25rem;
  flex-direction: row;
  flex-wrap: wrap;
}

.fine-print {
  font-size: 1rem;
}

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.h-row {
  display: flex;
  align-items: center;
}

#page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

#page-header {
  flex: 0;
  display: flex;
  flex-direction: column;
}

#logo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem; 
}

.menu-bar {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0.9375rem 3.125rem 0.9375rem 1.875rem;
  background-color: #096324;
  font-size: 1.25rem;
  overflow-x: auto;
}

.menu-link {
  font-weight: 600;
  font-size: 1.25rem;
  font-family: sans-serif;
  color: #ffffff;
  margin-left: 2.5rem;
  text-decoration-line: none;
  background: none;
  border: none;
}

.active {
  text-decoration-line: underline;
}

.button-lg {
  width: 9.375rem;
  height: 2.5rem;
  background-color: #096324;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0.625rem; 
  text-align: center;
  padding: 0.625rem; 
}

.button-redirect {
  background: none;
  border: none;
  font-size: 1.125rem; 
  font-family: sans-serif;
  color: #096324;
}

.column-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 3.75rem 1.25rem 1.25rem 2.5rem;
  min-width: auto;
  min-height: auto;
}

.balance {
  font-size: 3.125rem;
  font-weight: 800;
}

.change-label {
  font-size: 1.25rem;
  margin-right: 0.3125rem;
}

.change-input {
  font-size: 1.25rem;
  height: 2.5rem;
  text-align: end;
  padding-right: 0.625rem;
}

.change-submit {
  font-size: 0.9375rem;
  margin-left: 0.9375rem;
  border-radius: 0.3125rem;
}

.change-message {
  font-size: 1.25rem;
  margin-bottom: 0.9375rem;
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}

.error-message {
  font-size: 1.25rem;
  color: #ff0000;
  margin-bottom: 0.9375rem;
}

.app-container {
  max-width: 100%; 
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
  margin-left: 5rem;
  overflow-x: auto;
}

.change-container {
  flex: 1;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: inherit;
  min-width: fit-content;
  min-height: 100vh;
  flex-shrink: 1;
}

.image-container img{
  height: 100vh;
  min-width: 100%;
}

@media (max-width: 768px) {
  .app-container {
    margin-top: 1.25rem;
    min-width: 100%;
  }
}

@media (max-width: 480px) {
  #logo-header {
    flex-wrap: wrap;
  }

  .change-container {
    width: 100%; 
  }

  .h-row {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .app-container {
    margin-left: 0;
    padding: 0 1rem;
  }

  .change-submit {
    margin-top: 1rem;
    width: auto;
    margin-left: 0;
  }

  .content-container {
    width: 100%
  }

  .column-container {
    flex-direction: column;
    align-items: stretch;
    width: 100%
  }

  .menu-bar {
    justify-content: left;
    padding-left: .3125rem;
  }

  .menu-link {
    margin-left: 0.625rem;
    margin-top: 0.3125rem;
  }
}
